{{ define "main" }}
<div class="bg-white px-6 py-32 lg:px-8">
  <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
    <p class="text-base font-semibold leading-7 text-indigo-600">Project</p>
    <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ .Title }}</h1>
    <img src="{{ .Params.image  }}" alt="" class="mt-10 aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
    <p class="mt-6 mb-6 text-xl leading-8">{{ .Params.summary}}</p>
    <div class="mt-10 max-w-2xl">
      {{ .Content }}
    </div>
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </div>
</div>


{{ end }}
